---
extends: default
ignore: |
  ansible/inventory/group_vars/all/vault.yml
  .build/
rules:
  line-length:
    max: 140
  document-start: disable
  truthy:
    allowed-values: ["true", "false"]
    check-keys: false
  comments:
    min-spaces-from-content: 1
  comments-indentation: disable
  braces:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
